$red-primary: #ec0b43;
$aqua-primary: #7ae7c7;
$green-primary: #d6ffb7;
$yellow-primary: #fff689;
$brown-primary: #5e503f;

$serif-fonts: Georgia, Cambria, "Times New Roman", serif;

$font-base-size: 20px;

$border-base-radius: 25px;
